<ul class="digimons-list">
  <div class="digimons-list-header">
    <div class="digimons-list-title">
      <p>Digimons</p>
    </div>
    <div class="box-input">
      <input type="text" placeholder="Nome do digimon" />
      <i class="material-icons icon">search</i>
    </div>
    <div class="box-input">
      <select name="trainings" id="trainings">
        <optgroup>
          <option value="empty">Selecione o treino</option>
          <option value="In Training">In Training</option>
          <option value="Rookie">Rookie</option>
          <option value="Champion">Champion</option>
          <option value="Ultimate">Ultimate</option>
          <option value="Fresh">Fresh</option>
          <option value="Mega">Mega</option>
          <option value="Armor">Armor</option>
        </optgroup>
      </select>
    </div>
  </div>
  <section class="digimons-list-cards">
    <app-digimon-card
      *ngFor="let digimon of digimonList$ | async"
      [digimonData]="digimon"
    ></app-digimon-card>
  </section>
</ul>
