<ul class="digimons-list">
  <div class="digimons-list-header">
    <div class="digimons-list-title">
      <p>Digimons</p>
    </div>
    <div class="box-input">
      <input
        (input)="onInputChange($event)"
        type="text"
        placeholder="Nome do digimon"
      />
      <button (click)="searchDigimonByName()">
        <i class="material-icons icon">search</i>
      </button>
    </div>
    <div class="box-select">
      <select (change)="onSelectChange($event)" name="trainings" id="trainings">
        <optgroup>
          <option value="empty">Selecione o Level</option>
          <option value="In Training">In Training</option>
          <option value="Rookie">Rookie</option>
          <option value="Champion">Champion</option>
          <option value="Ultimate">Ultimate</option>
          <option value="Fresh">Fresh</option>
          <option value="Mega">Mega</option>
          <option value="Armor">Armor</option>
        </optgroup>
      </select>
      <button (click)="searchDigimonByLevel()">Pesquisar por Level</button>
      <button (click)="clearFilters()">Limpar filtros</button>
    </div>
  </div>
  <section class="digimons-list-cards">
    <p *ngIf="errorMessage" style="color: white">{{ errorMessage }}</p>
    <app-digimon-card
      *ngFor="let digimon of digimonList$ | async"
      [digimonData]="digimon"
    ></app-digimon-card>
  </section>
</ul>
