.digimons-list {
  width: 100%;
  height: 100%;

  padding: 0.5rem 0.2rem;

  margin-top: 1rem;

  background-color: var(--black);

  border-radius: 8px;
}

.digimons-list-header {
  position: relative;

  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 1.5rem;
}

.digimons-list-header .box-input {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;
}

.digimons-list-header .box-input > button {
  background-color: transparent;
  border: none;
}

.digimons-list-header > .box-select {
  width: 68%;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.digimons-list-header > .box-select > button {
  height: 35px;
  margin-top: 1rem;

  background: linear-gradient(90deg, rgb(150, 150, 150) 0%, rgb(150, 150, 150) 54%, rgb(129, 129, 129) 91%);

  border: none;
  border-radius: 8px;

  font-weight: bold;

  transition: ease-in-out 1s;
}

.digimons-list-header > .box-select > button ~button {
  width: 50%;

  align-self: center;
}

.digimons-list-header > .box-select > button:hover{
  background: linear-gradient(90deg, rgba(234,231,12,1) 0%, rgba(217,213,68,1) 54%, rgba(224,204,40,1) 91%);
}

.digimons-list-header .box-input > input {
  height: 35px;

  padding: 0 1rem;

  border-radius: 8px;

  outline: none;
  border: none;
}

.digimons-list-header .box-select > select {
  height: 35px;

  padding: 0 1rem;

  border-radius: 8px;

  outline: none;
  border: none;
}

.digimons-list-header .icon {
  position: absolute;
  top: 0;
  right: 0;

  font-size: 2rem;

  color: var(--grey);

  border-left: solid 1px var(--grey2);

  border-radius: 0 5px 5px 0;

  cursor: pointer;
}

.digimons-list-header .icon:hover {
  color: var(--grey2);
}

.digimons-list-header .digimons-list-title {
  width: 90%;
  height: 30px;

  font-weight: bold;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 1rem;

  background-color: var(--colorPrimary);

  border-radius: 8px;
}

.digimons-list-cards {
  width: 100%;
  height: 100%;

  max-height: 280px;

  margin-top: 2rem;

  padding: 1rem 0;

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;

  border: solid 1px var(--grey3);

  overflow-y: auto;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: var(--grey4);
}

::-webkit-scrollbar-thumb {
  background: var(--colorSecondary);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--colorSecondary);
}

@media (min-width: 1280px) {
  .digimons-list-header .box-input > input {
    width: 400px;
  }
  .digimons-list-header {
    flex-direction: row;

    padding: 2rem 5rem 0 5rem;
  }

  .digimons-list-header .digimons-list-title {
    width: 50%;
  }
}
