<ul class="digimons-list">
  <div class="digimons-list-header">
    <span class="material-icons icon-arrow"> logout </span>
    <div class="digimons-list-title">
      <p>Digimons</p>
    </div>
    <span class="decoration-span"></span>
  </div>
  <section class="digimons-list-cards">
    <li>
      <img
        src="https://digimon.shadowsmith.com/img/koromon.jpg"
        alt="Digimon"
      />
    </li>
    <li>
      <img
        src="https://digimon.shadowsmith.com/img/koromon.jpg"
        alt="Digimon"
      />
    </li>
    <li>
      <img
        src="https://digimon.shadowsmith.com/img/koromon.jpg"
        alt="Digimon"
      />
    </li>
    <li>
      <img
        src="https://digimon.shadowsmith.com/img/koromon.jpg"
        alt="Digimon"
      />
    </li>
    <li>
      <img
        src="https://digimon.shadowsmith.com/img/koromon.jpg"
        alt="Digimon"
      />
    </li>
    <li>
      <img
        src="https://digimon.shadowsmith.com/img/koromon.jpg"
        alt="Digimon"
      />
    </li>
  </section>
  <section class="digimons-list-informations">
    <li>
      <div>
        <p class="label-digimon">Nome:</p>
        <p>Koromon</p>
      </div>
      <div>
        <p class="label-digimon">Level:</p>
        <p>In Training</p>
      </div>
    </li>
    <li>
      <div>
        <p>Nome:</p>
        <p>Koromon</p>
      </div>
      <div>
        <p>Level:</p>
        <p>In Training</p>
      </div>
    </li>
    <li>
      <div>
        <p>Nome:</p>
        <p>Koromon</p>
      </div>
      <div>
        <p>Level:</p>
        <p>In Training</p>
      </div>
    </li>
    <li>
      <div>
        <p>Nome:</p>
        <p>Koromon</p>
      </div>
      <div>
        <p>Level:</p>
        <p>In Training</p>
      </div>
    </li>
  </section>
</ul>
