<section class="digivice-device">
  <figure>
    <img src="assets/digiviceDevice.png" alt="" />
    <img
      *ngIf="selectedDigimon?.img"
      class="digimon-screen"
      [src]="selectedDigimon?.img"
      alt="{{ selectedDigimon?.name }}"
    />
    <button
      (click)="clickToNextDigimon()"
      title="next-digimon"
      class="next-digimon"
    ></button>
    <button
      (click)="clickToPreviousDigimon()"
      title="previous-digimon"
      class="previous-digimon"
    ></button>
    <button title="select-digimon" class="select-digimon"></button>
  </figure>
</section>
