<section class="digivice-device">
  <figure>
    <img src="assets/digiviceDevice.png" alt="" />
    <img
      *ngIf="selectedDigimon?.img"
      class="digimon-screen"
      [src]="selectedDigimon?.img"
      alt="{{ selectedDigimon?.name }}"
    />
    <button
      (click)="clickToNextDigimon()"
      title="next-digimon"
      class="next-digimon"
    ></button>
    <button
      (click)="clickToPreviousDigimon()"
      title="previous-digimon"
      class="previous-digimon"
    ></button>
    <button
      (click)="clickShowInformations()"
      title="select-digimon"
      class="select-digimon"
    ></button>

    <section class="digimons-list-informations">
      <li *ngIf="isOpen">
        <div>
          <p class="label-digimon">Nome</p>
          <p>{{ selectedDigimon?.name }}</p>
        </div>
        <div>
          <p class="label-digimon">Level</p>
          <p>{{ selectedDigimon?.level }}</p>
        </div>
      </li>
    </section>
    <div class="attachment"></div>
  </figure>
</section>
