.bg {
  display: flex;
  align-items: center;

  width: 100%;
  min-height: 100%;
  object-fit: cover;
  background-image: url("/assets/red-background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.section-digimon-list {
  padding: 0 0.5rem;
}
